@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Yeseva+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lora', serif;
    position: relative;
}
body h1 {
    font-family: 'Yeseva One', cursive;
}

:root {
    --background: 38 64% 89%;
    --foreground: 0 15% 28%;

    --primary: 82 20% 62%;
    --secondary: 0 39% 48%;
    --accent: 33 41% 59%;
}

.dark {
    --background: 24 17% 17%;
    --foreground: 23 16% 68%;

    --primary: 90 18% 29%;
    --secondary: 0 40% 32%;
    --accent: 37 67% 56%;
}